:root {
    font-family: 'Open Sans', sans-serif;
}
* { box-sizing: border-box; }
body, .text {
    padding: 0;
    margin: 0;
}
.login-screen {
    margin: 0 auto;
}
.text--bold {
    font-weight: 700;
}