:root {
    font-family: 'Open Sans', sans-serif;
    --blue-color: #2791C2;
    --link-color: #29B9FC;

    --hover-btn: #4FC7FF;
    --visited-btn: #4FC7FF;
    --focus-btn-bg: #2791C2;
    --focus-btn-border: #82CAFF;

    --active-font--btn: #2791C2;
}

* { box-sizing: border-box; }
img { max-width: 100%;  }
svg { height: 100%; width: 100%; }
p,a, h1 { margin: 0; }

.fw--400 { font-weight: 400; }
.text--bold { font-weight: 700; }
.text--boldest {font-weight: 900; }
.text--uppercased { text-transform: uppercase;}
.text--tiny { font-size: .75rem; }
.blue { color: var(--blue-color); }
.center { text-align: center; }
.cyan { color: #0FEFFD; }
.underline{ text-decoration: underline; }

.bigger-spaced { letter-spacing: 0.8px; }
.text--italic { 
    margin-left: 1px;
    font-style: italic; 
    font-weight: 400; 
    font-family: 'Montserrat', sans-serif;
}
a, button {
    cursor: pointer;
}
body {
    background-color: #1E1E1E;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
    
    width: 100vw;

    padding: 0;
    margin: 0;
}

/* LOGIN SECTION */
a { 
    text-decoration: none; 
    color: var(--link-color);
}
button { 
    align-self: center;
    border-radius: 35px; 
    border: none;
    
    background-color: var(--link-color);
    color: #fff;
    
    height: 4.375rem;
    width: 100%;
    padding: 1rem .7rem;
    
    font-weight: 700;
    /* font-size: 1.1rem; */
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
}
button:hover {
    background-color: var(--hover-btn);
}
button:focus {
    background-color: var(--focus-btn-bg);
    border: var(--focus-btn-border) 2px solid;
}
button:visited {
    background-color: var(--visited-btn);
}
button:active {
    text-decoration: underline;
    color: var(--active-font--btn);
    background-color: #fff;
}
main {
    max-width: 640px;
    margin: 0 auto;
}
form {
    width: 100%;
    /* margin:  1.1rem auto; */
    display: grid;
    /* gap: .7rem; */

    margin: 0;
    margin-bottom: 2.5rem;
    gap: 1.25rem;
}
input {
    border-radius: 5px;
    height: 2.875em;
    border: none;
    box-shadow: none;
    /* padding: .6rem .7rem; */
}
input::placeholder {
    color: #BCBCBC;
}
label {
    display: flex;
    align-items: center;
    color: #BCBCBC;
}

/* GENERAL */
.title {
    font-family: Montserrat, sans-serif;
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
}
/* END GENERAL */

/* START LOGIN */
.login--container { 
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    
    padding: 4.125rem 1.875rem 4.422rem 1.875rem;
    width: 100vw;
    min-height: 100vh;
   
    font-size: 1.5rem;
    text-align: center;

    background-image: url(../img/backgrounds/login_mobile.png);
    background-position: top;
    background-size: cover;
}
.title--login {
    margin-left: -1px;

    font-size: 2.625rem;
    line-height: 2rem;
    
    display: block;
}
.login-screen {
    display: grid;

    width: 36.25rem;
    
    padding: 3rem;
    padding-bottom: 0;
    margin-top: 3.938rem;       
    
    border-radius: .625rem; 
    color: #fff;
    background-color: rgba(49, 49, 49, 0.95);
    box-shadow: 0px 6px 6px rgba(11, 11, 11, 0.8);      
}
.welcome-prompt {
    text-align: center;
    line-height: 2.75rem;
    margin-bottom: 2.5rem;
}
.input--full-width {
    padding-left: 1.563rem;
    font-size: 1.5rem;
    height: 4.375rem;
    width: 100%;
}
.password--container {
    position: relative;
    display: flex;
}
.password-eye {
    width: 2.375rem;
    position: absolute;
    color: var(--blue-color);
    align-self: center;
    right: 0;
    margin-right: 1.125rem;
    /* TODO CHECK IF MARGIN-RIGHT AND RIGHT CAN BE SWAPPED */
}
.user-extras {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.input-checkbox {
    border-radius: 5px;
    width: 1.875rem;
    height: 1.875rem;
    margin: 0;
    margin-right: .5rem;
}
.register-prompt {
    text-align: center;
    font-size: 1.25rem;

    margin-top: 2px;
    margin-bottom: 1rem;
}
.separation {
    margin: .5rem 0;
    display: grid;
    place-items: center;
    grid-template-columns: 45% 1fr 45%;

    font-size: 1.25rem;
    
    margin-top: 1.49rem;
    width: 100%;
}
.prompt--or {
    margin-top: -0.313rem;
}
.divider {
    border: none;
    height: 1px;
    background-color: #fff; 

    width: 12.156rem;
}
.divider--left {
    justify-self: flex-start;
}
.divider--right {
    justify-self: flex-end;
}
.social-medias--container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    margin-top: 3.125rem;
    margin-bottom: 3.813rem;
}
.social-media-div {
    display: flex;
    place-items: center;
    /* gap: 2.5rem; */

    border: 1px solid #fff;
    border-radius: 35px;
    
    padding-left: 4.788rem;
    height: 4.375rem;
    
    justify-content: flex-start;
}
.social-media-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0;

    min-width: 13.8rem;
    margin: 0;
    margin-top: -.5rem;
    margin-left: -0.313rem;
}
.icon {
    margin: 0;
    padding: 0;
    width: 2.75rem;
    height: 2.75rem;

    margin-right: 1.563rem;
}
/* END LOGIN */

/* START HEADER */
header {  
    color: #fff;
    background-color: var(--blue-color);
    
    display: grid;
    grid-template-columns: 10.063rem 15.25rem 5.938rem;
    grid-template-areas: 'title search profile';
    align-items: center;
    justify-content: space-evenly;
    line-height: 2rem;
    
    height: 5.625rem;
    width: 100%;
    padding-left: .738rem;
    padding-right: .625rem;
}
.header--title {
    grid-area: title;

    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.search--container {
    grid-area: search;
    
    display: flex;
    align-items: center;
        
    width: 100%;
    height: 2.875rem;
    padding: 0;
    margin: 0;
    margin-left: 0rem;

    position: relative;
    left: 0;
    top: 0;
}
.input--search {
    padding-left: 3rem; 
    height: 100%;
    width: 100%;
    margin: 0;
    
    position: absolute;
    left: .438rem;
    top: 0;
}
.search-icon {
    position: absolute;
    left: .75rem;

    margin-left: .5rem;
    width: 1.458rem;
    height: 1.458rem;
}
.profile-container {
    grid-area: profile;
    justify-self: end;

    width: 5.938rem;

    display: flex;
    align-items: center;
}
.log {
    margin-right: .3rem;
    margin-top: .125rem;

    width: fit-content;
}
.profile-vector-container {
    display: grid;
    place-items: center;
    
    width: 2.813rem;
    height: 2.813rem;
    margin-right: .15rem;

    border-radius: 50%;
    background-color: #BCBCBC;
}
/* END HEADER */

/* START MOVIE RESULT CARD */
.results-container {
    display: flex;
    flex-direction: column;
}
.movie {
    height: 53.125rem;
    padding: 9.5rem 5.938rem 9.5rem 5.563rem;

    font-size: 1.5rem;
    color: #fff;

    justify-content: flex-start;
}
.stars-and-genre {
    margin-left: .25rem;
    line-height: 60%;
    gap: 1.09rem;
}
.stars-container {
    margin-top: 1.034rem;
    width: 10.25rem;
    display: flex;
    gap: 0.732rem;
}
.star {
    width: 1.464rem;
    height: 1.391rem;
}
.star-res {
    width: 1.464rem;
    height: 1.391rem;
}
.filled {
    fill: #FF9900;
}
.movie-title {
    overflow: initial;
    overflow-wrap: initial;
    
    margin-top: 2.7rem;
    margin-left: .25rem;
    
    font-size: 3.5rem;
    line-height: 115%;
}
.summary {
    margin-top: 2.4rem;
    margin-left: .188rem;
    line-height: 2.375rem;

    width: 28.875rem;
    max-width: 100%;
}
.watch-now-btn {
    border-radius: 5.813rem;
    margin-top: 3.1rem;
    margin-left: .6rem;
    height: 4.688rem;
    width: 28.188rem;
}
/* END MOVIE RESULT CARD */

/* START MOST WATCHED */
.most-watched-container {
    padding: 3.127rem 6rem 15.164rem 6.1rem;
    width: 100%;

    display: grid;
    gap: 3.125rem;

    background-color: #070707;
    color: #fff;
}
.display-type {
    display: none;
}
.title--mw {
    line-height: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;

    margin-left: .1rem;
}
.most-watched-movies {
    display: grid;
    gap: 3.102rem;
}
.mw {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    min-height: 38.586rem;
    width: 28.063rem;
    padding-left: 3.443rem;
    padding-right: 3.333rem;
    padding-bottom: 2.137rem;
}
.details--mw {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.mw-title {
    font-size: 2.25rem;
    line-height: 3.7rem;

    margin: 0;
    margin-left: .2rem;
}
.stars-container--mw {
    display: flex;
    margin: 0;
    margin-left: .2rem;
    gap: 0;
}
.star-mw {
    width: 5rem;
    overflow: hidden;
    margin: 0;
    margin-right: -3.75rem;
}
.star-svg-mw {
    width: 5.5rem;
}
.summary--mw {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;

    font-size: 1rem;
    line-height: 1.25rem;
}
/* END MOST WATCHED */

/* TODO DELETE: WORKS UNTIL HERE */

/* START MOVIE MODAL */
.movie-modal {
    max-width: 100vw;
}
.movie-dets {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0;
    
    padding-bottom: 4.938rem;
    width: 100%;
    margin: 0;

    background-color: #111111; 
    color: #fff;
}
.movie-header {
    min-height: 34.625rem;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
    
    display: flex;
    flex-direction: column;
}
.close {
    align-self: flex-end;
    justify-self: flex-start;

    height: 4rem;
    width: 4rem;
    margin-top: 1.25rem;
    margin-right: 1.273rem;
}
.play-btn {
    border-radius: 2.813rem;
    margin-top: 18.9rem;
    width: 19.375rem;
    height: 5.063rem;
    
    align-self: flex-start;
}
.title--dets {
    margin-top: 1.875rem;
    padding-left: 5px;

    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 4rem;
}
.movie-body {
    font-family: 'Open Sans', sans-serif;
    
    padding: 0 3.75rem;
    color: #fff;
}
.extended {
    font-size: 1.5rem;
    line-height: 2.375rem;
}
.details-and-similar--container {
    padding-top: 1.3rem;
}
.details--container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.details--column {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.details--individual {
    
    font-size: 1.5rem;
    line-height: 2rem;
}
.details--individual-extra-padding {
    padding-left: 3.3rem;
}
.details--info {
    margin-top: 1.9rem;
}
.genre-dets {
    display: inline-block;
}
.similar-container {
    margin-top: 3.5rem;

    display: flex;
    flex-direction: column;
}
.similar--movies {
    margin-top: 3.313rem;
    display: grid;
    gap: 2.119rem;
    grid-template-columns: repeat(auto-fit, minmax(15.19rem, 1fr));
}
.img-link {
    height: 15.191rem;
    width: 15.191rem;
    margin: 0;
    padding: 0;
}
.similar--title {
    font-size: 1.5rem;
}
.invisible-btn {
    background-color: #000;
    border-radius: 0.125rem;
    height: 15.191rem;
    width: 15.191rem;

    display: grid;
    place-items: center;
} 
/* END MOVIE MODAL */

/* START TRAILER */
.trailer--modal, .trailer {
    display: grid;
    place-items: center;
}

/* MOVIE SEARCH { RESULT } AND MOST WATCHED MOVIES  SECTION */

/* .results-container {
    width: 100%;
    margin: 0;
    
    display: flex;
    flex-direction: column;
} */

/* MEDIA QUERIES */

/** TABLETS **/
@media screen and (min-width: 834px) {
    /* START LOGIN */
    .login--container {
        background: url(../img/backgrounds/login_tablet.png);
        
        display: grid;
        gap: 0;
        
        padding: 16.75rem 12.125rem;
        margin: 0 auto;
    }
    .title--login {
        font-size: 2.25rem;
        margin: 0;
        margin-left: -4px;
    }
    .login-screen {
        width: 27.813rem;
        padding: 2rem 2.75rem 2.7rem 2.813rem;
        margin-top: 3.5rem;
    }
    .welcome-prompt {
        font-size: 1rem;
        line-height: 1.313rem;
        text-align: center;
        margin-bottom: 0;
    }
    .instructions {
        margin-top: .25rem;
        font-size: 0.625rem;
        /* line-height: 1.313rem; */
    }
    form {
        margin: 0;
        margin-top: 0.328rem;
        gap: 0.5rem;
    }
    .input--full-width {
        padding-left: 1.563rem;
        font-size: 0.813rem;
        height: 2.813rem;
        width: 22.194rem;
    }
    .password--container {
        width: 22.194rem;
    }
    .password-eye {
        width: 1.125rem;
        margin-right: 0;
        right: 1rem;
    }
    .user-extras {
        font-size: 0.625rem;

        width: 22.194rem;
        padding: 0 1.188rem 0 .937rem;
        margin-top: .253rem;
        margin-bottom: 0;
    }
    .input-checkbox {
        width: 1.125rem;
        height: 1.125rem;

        border-radius: .188rem;
    }
    .login-btn {
        background-color: #2791C2;
        
        font-size: 0.938rem;

        padding: 0;
        width: 22.125rem;
        height: 2.938rem;
        margin-top: .263rem;
    }
    .register-prompt {
        margin: 0;
        margin-top: .625rem;

        line-height: 2rem;
        font-size: .625rem;
    }
    .separation {
        margin-top: .25rem;

        grid-template-columns: 8.883rem 1fr 8.883rem;
        gap: 1.781rem;

        line-height: 2rem;
        font-size: .813rem;
    }
    .divider {
        width: 100%;
    }
    .social-medias--container {
        gap: .625rem;
        margin: 0;
        margin-top: 1.3rem;
    }
    .social-media-div {
        width: 22.375rem;
        height: 2.813rem;
        padding-left: 4.313rem;
        justify-content: flex-start;
    }
    .social-media-container {
        font-size: .875rem;
        margin: 0;

        gap: 0;
        align-content: center;
    }
    .icon {
        width: 1.8rem;
        height: 1.9rem;
        margin-right: 1.063rem;
        margin-left: -.2rem;
    }
    /* END LOGIN */

    /* START HEADER */
    header {  
        grid-template-columns: 10.063rem 24.125rem 5.938rem;
        justify-content: space-between;

        height: 5.625rem;
        padding: 0 1.875rem;
    }
    .search--container {          
        height: 3.125rem;
    }
    .input--search {
        margin-left: -.6rem;
    }
    .search-icon {
        left: 0;
        margin-left: .7rem;
    }
    .profile-container {
        gap: .5rem;
    }
    .log {
        margin-left: -.3rem;
        margin-top: .1rem;
    
        width: fit-content;
    }
    .profile-vector-container {
        margin: 0;
    }
    /* END HEADER */
    
    /* START MOVIE RESULT CARD */
    .movie {
        height: 34.375rem;
        padding: 5.563rem 7.813rem 5.5rem 6.5rem;
    
        font-size: 1.5rem;
    }
    .stars-and-genre {
        margin-left: 0rem;
        margin-top: .2rem;
        font-size: .875rem;
        gap: 2rem;
    }
    .stars-container {
        margin-top: 1.52rem;
        width: 10.25rem;
        display: flex;
        gap: .253rem;
    }
    .star {
        width: 1rem;
        height: 1rem;
    }
    .star-res {
        width: .833rem;
        height: .792rem;
    }
    .movie-title {        
        margin-top: 2.1rem;
        margin-left: 0rem;
    }
    .summary {
        margin-top: 2.4rem;
        margin-left: .188rem;
        line-height: 2.1rem;
        font-size: 1rem;
    
        width: 37.813rem;
    }
    .watch-now-btn {
        margin-top: 2.2rem;
        margin-left: .1rem;
        height: 3.75rem;
        width: 15.625rem;
        font-size: 1.25rem;
    }
    /* END MOVIE RESULT CARD */
    
    /* START MOST WATCHED */
    .most-watched-container {
        /* border: 1px solid yellow; */
        padding: 1rem 3.125rem 9.438rem 3.063rem;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .title-mw-and-mw-display {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .display-type {
        display: flex;
        place-content: center;
    }
    .svg-btn {
        padding: 0;
        margin: 0;
        width: fit-content;
        height: fit-content;

        display: grid;
        place-content: center;
    }
    .svg-btn:focus, .svg-btn:active, .selected {
        border-radius: .188rem;
        background-color: #373737;
    }
    .display-mw {
        width: 3.8rem;
    }
    .title--mw {
        line-height: 4rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        margin-left: .688rem;
    }
    .most-watched-movies {
        display: grid;
        margin: 0;
        margin-top: 1rem;
        padding: 0;
        justify-content: center;
        min-width: 100%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat( 3, 14.063rem );
        grid-template-rows: 19.313rem;
        column-gap: 1.875rem;
    }
    .column {
        width: 44.938rem;
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        /* justify-content: center; */
        gap: 2.188rem;
        /* margin: 0 auto; */
        padding: 0;
        padding-left: .5rem;
        padding-right: .4rem;
    }
    .details--mw {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }
    .mw {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        width: 100%;
        padding: 0;
    }
    .mw-grid {
        font-size: .625rem;
        padding-left: 1.313rem;
        padding-right: 1rem;
        padding-bottom: 1rem;

        min-height: 100%;
    }
    .mw-column {
        min-height: 19.313rem;
        max-height: 19.313rem;
        height: 19.313rem;
        margin: 0;

        padding: 9.438rem 5.313rem 1.563rem 5.625rem;
    }
    .details--mw-column {
        gap: 0;
    }
    .mw-title-grid {
        font-size: 1.25rem;
        line-height: 100%;
    }
    .mw-title-column {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .stars-container--mw {
        display: flex;
        margin: 0;
        margin-top: .25rem;
        gap: 0;
    }
    .star-mw {
        width: 5rem;
        overflow: hidden;
        margin: 0;
        margin-right: -4.1rem;
    }
    .star-svg-mw {
        width: 4rem;
    }
    .summary--mw {
        margin: 0;
        width: 100%;
    
        line-height: 1.25rem;
        font-size: unset;
    }
    .summary--grid-mw {
        font-size: .625rem;
        line-height: 1.063rem;
    }
    .summary--column-mw {
        /* margin-top: -.5rem; */
        font-size: .75rem;
        line-height: 1.25rem;
    }
    /* END MOST WATCHED */

    /* START MOVIE MODAL */
    .movie-modal {
        padding: 6.5rem 3.188rem 6.438rem 3.188rem;
        background: linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, rgba(0,4,4,1) 100%);;
    }
    .movie-dets {
        padding: 0;
        width: 100%;
        background-color: transparent;
    }
    .movie-header {
        display: flex;
        min-height: 24.25rem;
        padding: 1.3rem 1.3rem 0 3.563rem;
        border-radius: 1.25rem 1.25rem 0 0;
    }
    .close {
        justify-self: end;
        display: flex;
        align-items: flex-start;
        /* align-self: stretch; */
        margin: 0;
        width: 2.6rem;
        height: 2.6rem;
    }
    .play-btn {
        width: 17.688rem;
        height: 3.813rem;
        margin: 0;
        margin-top: 11.3rem;
        font-size: 1.25rem;
    }
    .title--dets {
        margin: 0;
        margin-left: -.2rem;
        margin-top: 1.75rem;
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .movie-body {
        background: #111111;
        /* background: linear-gradient(0deg, #111111 1, rgba(17, 17, 17, 1) 100%); */
        max-height: 37.438rem;
        border-radius: 0 0 1.25rem 1.25rem;
        padding-bottom: 3.428rem;
    }
    .extended {
        margin: 0;
        margin-top: 1.4rem;
        margin-left: -.1rem;
        line-height: 2rem;
    }
    .details-and-similar--container {
        margin-top: 1.25rem;
        display: flex;
        flex-direction: column;
    }
    .details--container {
        gap: 4rem;
        justify-content: flex-start;
    }
    .details--column {
        width: 11rem;
        font-size: 1rem;
        padding: 0;
        gap: 1rem;
    }
    .details--individual-extra-padding {
        padding: 0;
    }
    .details--title {
        font-size: 1rem;
        line-height: 1rem;
    }
    .details--info {
        margin: 0;
        margin-top: 1.1rem;
        font-size: 1rem;
        line-height: 1rem;
    }
    .similar-container {
        margin: 0;
        margin-top: 2rem;
        padding: 0;
    }
    .similar--title {
        font-size: 1rem;
    }
    .similar--movies {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        margin-top: .7rem;
        gap: 1.625rem;
    }
    .img-link, .img-link-btn {
        height: 6.125rem;
        width: 6.125rem;
        border-radius: .125rem;
    }
    .img-link-btn {
        padding: 1rem;
    }
    /* END MOVIE MODAL */
}

/** DESKTOP **/
@media screen and (min-width: 1440px) {
    /* START LOGIN */
    .login--container {
        background: url(../img/backgrounds/login_desktop.png);
        
        padding: 4.5rem 31.0625rem 5rem 31.125rem;
    }
    .title--login {
        font-size: 2.25rem;
    }
    .login-screen {
        width: 27.813rem;
        padding: 2rem 2.75rem 2.7rem 2.813rem;
        margin: 0 auto;
        margin-top: 3.5rem;
    }
    form {
        margin: 0;
        margin-top: 1.244rem;
        gap: 0;
    }
    .input--full-width {
        padding-left: 1.142rem;
        font-size: 0.813rem;
        height: 2.324rem;
        width: 22.194rem;
    }
    .password--container {
        margin-top: 0.664rem;
        width: 22.194rem;
    }
    .password-eye {
        width: 1.125rem;
        height: .75rem;
        margin-right: 0;
        right: 1.176rem;
    }
    .user-extras {
        font-size: 0.625rem;

        width: 22.194rem;
        padding: 0 1.188rem 0 .937rem;
        margin-top: .584rem;
        margin-bottom: 0;
    }
    .input-checkbox {
        width: 1.125rem;
        height: 1.125rem;

        border-radius: .188rem;
    }
    .login-btn {
        background-color: #2791C2;
        
        font-size: 0.938rem;

        padding: 0;
        width: 22.125rem;
        height: 2.938rem;
        margin-top: .75rem;
    }
    .register-prompt {
        margin: 0;
        margin-top: .625rem;

        line-height: 2rem;
        font-size: .625rem;
    }
    .separation {
        margin-top: .25rem;

        grid-template-columns: 8.883rem 1fr 8.883rem;
        gap: 1.781rem;

        line-height: 2rem;
        font-size: .813rem;
    }
    .divider {
        width: 100%;
    }
    /* END LOGIN */

    /* START HEADER */
    header {  
        grid-template-columns: 10.063rem 24rem 6.25rem;
        height: 4.372rem;
        padding: 0 6.25rem;
    }
    .search--container {          
        height: 2.623rem;
        margin-left: -2.3rem;
    }
    .input--search {
        margin-left: 0rem;
    }
    .search-icon {
        margin-left: 1.2rem;
    }
    /* END HEADER */

    /* START MOVIE RESULT CARD */
    .movie {
        height: 34.349rem;
        padding: 5.558rem 0rem 5.787rem 11.188rem;
    }
    .summary {    
        margin-top: 2.65rem;
        margin-left: -.1rem;
        max-width: 50%;
        line-height: 2rem;
    }
    .watch-now-btn {
        margin-top: 2.3rem;
        margin-left: 0;
        height: 3.438rem;
        width: 16.313rem;
        font-size: .938rem;
    }
    /* END MOVIE RESULT CARD */

    /* START MOST WATCHED */
    .most-watched-container {
        padding: 1.874rem 11.25rem 9.993rem 11.125rem;
        background: linear-gradient(180deg, rgba(47, 47, 47, 0) 0%, #000000 100%);
    }
    .title-mw-and-mw-display {
        padding-left: 1.2rem;
        padding-right: 1.9rem;
    }
    /* .most-watched-movies {
    } */
    .grid {
        margin-top: 2.3rem;
        display: grid;
        max-width: 67.75rem;
        grid-template-columns: repeat( 3, 20rem );
        grid-template-rows: 27.479rem;
        column-gap: 3.813rem;
    }
    .column { 
        width: 63.875rem;
        gap: 3.125rem;
        padding: 1rem 1.7rem;
    }
    .mw {
        display: grid;
    }
    .mw-grid {
        padding-bottom: 3.5rem;
        padding-top: 13.75rem;
    }
    .mw-column { 
        min-height: 27.5rem;
        max-height: 27.5rem;
        height: 27.5rem;
        padding: 14.938rem 7.569rem 3.75rem 8rem;
        display: flex;
    }
    .details--mw {
        gap: 0;
        justify-content: flex-end;
        padding-left: .5rem;
    }
    .details--mw-column { 
        justify-content: flex-start;
        gap: 0;
        padding: 0;
        margin: 0;
    }
    .mw-title-grid {
        place-self: flex-start;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
    }
    .mw-title-column { 
        font-size: 1.5rem;
        line-height: 4rem;
    }
    .stars-container--mw {
        display: flex;
        margin: 0;
        margin-top: .25rem;
        gap: 0;
    }
    .stars-container--mw-grid {
        margin-bottom: .7rem;
        margin-left: .3rem;
    }
    .stars-container--mw-column {
        margin-top: 0;
    }
    .star-mw {
        margin-right: -3.8rem;
    }
    .star-svg-mw {
        width: 4rem;
    }
    .summary--grid-mw {
        font-size: .75rem;
        line-height: 1.25rem;
        max-width: 90%;
        margin: 0;
    }
    .summary--column-mw { 
        font-size: .75rem;
        line-height: 1.25rem;
        margin-top: 0;
        max-width: 90%;
    }
    /* END MOST WATCHED */

    /* START MOVIE MODAL */
    .movie-modal { 
        min-height: 100vh;
        display: grid;
        place-items: center;
        /* align-items: flex-start;
        justify-content: center; */
        padding: 2.438rem 4.5rem 2.5rem 4.563rem;
    }
    .movie-dets {
        height: 52.438rem;
        width: 77.5rem;
        padding: 0;
    }
    .movie-header {
        flex-direction: column;
        align-content: space-between;
        min-height: 27.5rem;
        padding: 1.3rem 1.3rem 0 5.563rem;
    }
    .play-btn {
        margin-top: 14.4rem;
    }
    .title--dets {
        margin-left: 1rem;
    }
    .movie-body {
        border-radius: 0 0 1.25rem 1.25rem;
        height: fit-content;
        padding: 0 5rem 3.428rem 6.875rem;
    }
    .extended {
        margin: 0;
        margin-top: 2rem;
        max-width: 100%;
        width: 100%;
    }
    .details-and-similar--container {
        margin-top: 1.1rem;
        flex-direction: row;
    }
    .details--container {
        width: 50%;
        margin-top: .2rem;
        margin-left: .5rem;
    }
    .details--column {
        width: 11rem;
        max-width: 50%;
    }
    .similar-container {
        width: 50%;
        margin: 0;
        padding: 0;
        padding-left: 3.25rem;
    }
    .similar--title {
        margin-left: .25rem;
    }
    .similar--movies {
        margin-top: .5rem;
        gap: 1.625rem;
    }
    /* END MOVIE MODAL */
}


/** HEADER BREAKPOINT **/
/* 
    @media screen and (min-width: 465px) {
        header {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .search--container {
            width: 15.25rem;
        }
        .profile-container {
            min-width: 5.938rem;
        }
    } 
*/

/*
div {
  transition: <property> <duration> <timing-function> <delay>;
}
*/