:root {
    font-family: 'Open Sans', sans-serif;
    --blue-color: #2791C2;
    --link-color: #29B9FC;
}

* { box-sizing: border-box; }
img { max-width: 100%; }
p { margin: 0; }

.fw--400 { font-weight: 400; }
.text--bold { font-weight: 700; }
.text--boldest {font-weight: 900; }
.text--uppercased { text-transform: uppercase;}
.text--italic { font-style: italic; }
.text--tiny { font-size: .75rem; }
.blue { color: var(--blue-color); }

/* LOGIN SECTION */

a { 
    text-decoration: none; 
    color: var(--link-color);
}
button { 
    border-radius: 35px; 
    border: none;
    font-size: 1rem;
    width: 100%;
    padding: 1rem .7rem;
    background-color: var(--link-color);
    color: #fff;
}
body {
    background-image: url(../img/back_mobile.png);
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    /* background-size: cover; */
}
main {
    max-width: 640px;
    margin: 0 auto;
}
form {
    width: 100%;
    margin:  1.1rem auto;
    display: grid;
    gap: .7rem;
}
input {
    border-radius: 5px;
    height: 3em;
    border: none;
    box-shadow: none;
    padding: .6rem .7rem;
}
label {
    display: flex;
    align-items: center;
    color: #BCBCBC;
}
hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #fff; 
}

.container {
    max-width: 545px;
}
.login-screen {
    display: grid;
    gap: .7rem;
    padding: 2rem;
    
    max-width: 580px;
    border-radius: 10px;
    
    color: #fff;
    background-color: rgba(49, 49, 49, 0.95);
    box-shadow: 0px 6px 6px rgba(11, 11, 11, 0.8);
}
.title {
    font-family: Montserrat, sans-serif;
    text-align: center;
}
.welcome-prompt {
    text-align: center;
}
.input--full-width {
    width: 100%;
}
.password--container {
    position: relative;
    display: flex;
}
.password-eye {
    position: absolute;
    color: var(--blue-color);
    align-self: center;
    width: 1.5rem;
    right: 0;
}
.user-extras {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-checkbox {
    width: 1.2rem;
    border-radius: 5px;
}
.register-prompt {
    text-align: center;
}
.separation {
    margin: .5rem 0;
    display: grid;
    place-items: center;
    grid-template-columns: 45% 1fr 45%;
}
.social-media {
    display: grid;
    grid-template-columns: 50px 1fr;
    place-items: center;
    border: 1px solid #fff;
    padding: .7rem .4rem;
    border-radius: 35px;
}
.border {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
}

/* NAV SECTION */

nav {
    color: #fff;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search--container {
    display: flex;
    align-items: center;
    position: relative;
    color: #BCBCBC;
}
.input--search {
    padding: 0 2rem;
}
.search-icon {
    position: absolute;
    width: 1rem;
    left: .5rem;
}
.profile-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.profile-vector-container {
    background-color: #D9D9D9;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

