:root {
    font-family: 'Open Sans', sans-serif;
    --blue-color: #2791C2;
    --link-color: #29B9FC;
}

* { box-sizing: border-box; }
img { max-width: 100%; }
p { margin: 0; }

.fw--400 { font-weight: 400; }
.text--bold { font-weight: 700; }
.text--boldest {font-weight: 900; }
.text--uppercased { text-transform: uppercase;}
.text--tiny { font-size: .75rem; }
.blue { color: var(--blue-color); }
.center { text-align: center; }

.bigger-spaced { letter-spacing: 0.8px; }
.text--italic { 
    margin-left: 1px;
    font-style: italic; 
    font-weight: 400; 
}

/* LOGIN SECTION */
a { 
    text-decoration: none; 
    color: var(--link-color);
}
button { 
    border-radius: 35px; 
    border: none;
    
    background-color: var(--link-color);
    color: #fff;
    
    height: 4.375rem;
    width: 100%;
    padding: 1rem .7rem;
    
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
}
body {
    background-color: #1E1E1E;

    display: grid;
    align-items: center;

    min-height: 100vh;
    max-width: 100vw;

    padding: 0;
    margin: 0;
}
main {
    max-width: 640px;
    margin: 0 auto;
}
form {
    width: 100%;
    margin:  1.1rem auto;
    display: grid;
    gap: .7rem;
}
input {
    border-radius: 5px;
    height: 2.875em;
    border: none;
    box-shadow: none;
    /* padding: .6rem .7rem; */
}
input::placeholder {
    color: #BCBCBC;
}
label {
    display: flex;
    align-items: center;
    color: #BCBCBC;
}

.login--container {
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 4rem;
    
    text-align: center;
    
    padding: 2rem;
    height: 100%;
    width: 100%;
    
    background-image: url(../img/backgrounds/login_mobile.png);
    background-position: top;
    background-size: cover;
}
.login-screen {
    display: grid;
    gap: .7rem;
    padding: 2rem;

    
    max-width: 580px;
    border-radius: 10px;
    
    color: #fff;
    background-color: rgba(49, 49, 49, 0.95);
    box-shadow: 0px 6px 6px rgba(11, 11, 11, 0.8);
}
.title {
    font-family: Montserrat, sans-serif;
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
}
.welcome-prompt {
    text-align: center;
}
.input--full-width {
    width: 100%;
}
.password--container {
    position: relative;
    display: flex;
}
.password-eye {
    position: absolute;
    color: var(--blue-color);
    align-self: center;
    width: 1.125rem;
    right: 0;
    margin-right: 1.125rem;
}
.user-extras {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-checkbox {
    width: 1.2rem;
    border-radius: 5px;
}
.register-prompt {
    text-align: center;
}
.separation {
    margin: .5rem 0;
    display: grid;
    place-items: center;
    grid-template-columns: 45% 1fr 45%;
}
.divider {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #fff; 
}
.social-media-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: .7rem .4rem;
    border-radius: 35px;
    height: 4.375rem;
}
.social-media-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    min-width: 13.8rem;
}
.icon {
    width: 2.75rem;
    height: 2.75rem;
}

/* NAV SECTION */
header {
    color: #fff;
    background-color: var(--blue-color);
    
    width: 100%;
    min-height: 5.625rem;
    padding: 1.5rem;
    
    display: grid;
    grid-template-areas: 'title profile' 'search search';
    place-items: center;
    gap: 1rem;
}
.header--title {
    font-size: 1.5rem;
    line-height: 2rem;
    grid-area: title;
}
.search--container {
    grid-area: search;
    display: flex;
    align-items: center;
    
    position: relative;

    width: 100%;
}
.input--search { 
    padding-left: 3rem; 
    width: 100%;
}
.search-icon {
    position: absolute;
    left: .75rem;

    width: 1.458rem;
    height: 1.458rem;
}
.profile-container {
    grid-area: profile;
    justify-self: end;

    max-width: 5.938rem;

    display: flex;
    align-items: center;
    gap: .5rem;
}
.profile-vector-container {
    display: grid;
    place-items: center;
    width: 2.813rem;
    height: 2.813rem;
    border-radius: 50%;
    background-color: #BCBCBC;
}

/* MOVIE SEARCH { RESULT } AND MOST WATCHED MOVIES  SECTION */

.results-container {
    width: 100%;
    margin: 0;
    
    display: flex;
    flex-direction: column;
}

/* movie card */
.movie { 
    color: #fff;
    font-size: 1rem;

    margin: 0;
    padding: 3.5rem 2rem;

    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
}
.movie-title {
    font-size: 2.5rem;
    overflow-wrap: break-word;
    overflow: scroll;
}

/* MOST WATCHED SECTION */
.most-watched-container {
    display: grid;
    gap: 1.5rem;

    padding: 1.5rem;
    width: 100%;

    color: #fff;
    overflow-wrap: break-word;
    overflow: scroll;
}
.mw {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    
    min-height: 70vh;
    
    overflow-wrap: break-word;
    overflow: scroll;
    font-size: 1rem;
}
.mw-title {
    font-size: 2rem;
}
.movie-details {
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: end;

    width: 100%;
    height: 100%;
    padding: 3.5rem;
}
.stars-and-genre {
    display: flex;
    flex-direction: column;    
}
.stars-container {
    /* color: #FF9900; */ 
    margin: 0;

    display: flex;
    align-items: center;
}
.star {
    height: 1.391rem;
    width: 1.464rem;
}


/* MEDIA QUERIES */

/** HEADER BREAKPOINT **/
@media screen and (min-width: 465px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .search--container {
        width: 15.25rem;
    }
    .profile-container {
        min-width: 5.938rem;
    }
}

/** MIN SIZE **/
@media screen and (min-width: 640px) {
    /* START LOGIN */
    .login--container {
        padding-top: 4.125rem;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }
    .title--login {
        font-size: 2.625rem;
        line-height: 2rem;

        margin: 0;
        margin-left: -4px;
    }
    .login-screen {
        min-width: 36.25rem;
        
        padding: 3rem;
        padding-bottom: 0;
        margin-left: -2px;
        
        gap: 0;
    }
    .welcome-prompt {
        line-height: 2.75rem;
        margin-bottom: 2.5rem;
    } 
    form {
        margin: 0;
        margin-bottom: 2.5rem;
        gap: 1.25rem;
    }
    .input--full-width {
        padding-left: 1.563rem;
        font-size: 1.5rem;
        height: 4.375rem;
        min-width: 30.375rem;
    }
    .input-checkbox {
        width: 1.875rem;
        height: 1.875rem;
    }
    .password-eye {
        width: 2.375rem;
    }
    .user-extras {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    .input-checkbox {
        margin: 0;
        margin-right: .5rem;
    }
    .register-prompt {
        margin-top: 2px;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }
    .separation {
        font-size: 1.25rem;
        
        margin-top: 1.49rem;
        margin-bottom: 3.3rem;
        width: 100%;
    }
    .prompt--or {
        margin-top: -5px;
    }
    .divider {
        width: 12.156rem;
    }
    .divider--left {
        justify-self: flex-start;
    }
    .divider--right {
        justify-self: flex-end;
    }
    .social-media-div {
        margin-bottom: 2.5rem;
        padding-left: 4.688rem;
        justify-content: flex-start;
    }
    .social-media-container {
        margin-left: -2px;
        gap: 0;
    }
    .social-media--last {
        margin-bottom: 3.813rem;
    }
    .icon {
        margin: 0;
        padding: 0;
        width: 2.75rem;
        height: 2.75rem;

        margin-right: 1.563rem;
    }
    /* START HEADER */
    header {
        grid-template-columns: 10.063rem 15.25rem 5.938rem;
        grid-template-areas: 'title search profile';
        place-items: center;
        line-height: 2rem;
        
        height: 5.625rem;
        padding-left: 2.5rem 1.375rem;

    }
    .header--title {
        margin-left: 6px;
        margin-top: 1px;
    }
    .search--container {
        height: 2.875rem;
        padding: 0;
        margin: 0;
        margin-left: 7px;

        position: relative;
        left: 0;
        top: 0;
    }
    .input--search {
        height: 100%;
        width: 100%;
        margin: 0;
        
        position: absolute;
        left: 0;
        top: 0;
    }
    .log {
        margin-left: -5px;
        margin-top: 2px;
    }
    /* START MOVIE RESULT CARD */
    .movie {
        min-height: 53.125rem;
        min-width: 449px;
        padding: 9.5rem 5.563rem;

        font-size: 1.5rem;

        justify-content: flex-start;
    }
    .stars-and-genre {
        line-height: 60%;
        gap: 1.09rem;
    }
    .stars-container {
        gap: 0.732rem;
    }
    .movie-title {
        overflow: initial;
        overflow-wrap: initial;
        
        margin-top: 2.7rem;
        
        font-size: 3.5rem;
        line-height: 35%;
    }
    .summary {
        margin-top: 2.4rem;
        line-height: 2.375rem;
    }
    button {
        font-size: 1.5rem;
    }
    .watch-now {
        border-radius: 5.813rem;
        margin-top: 3.1rem;
        margin-left: 4px;
        height: 4.688rem;
        width: 28.188rem;
    }
    /* START MOST WATCHED */
    .most-watched-container {
        padding: 3.625rem 5.938rem;
        gap: 3.5rem;
        background-color: #070707;
    }
    .title--mw {
        line-height: 3rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
    }
    .most-watched-movies {
        display: grid;
        gap: 3.102rem;
    }
    .mw {
        display: flex;
        justify-content: flex-end;
        
        min-height: 38.586rem;
        padding: 3.5rem;
    }
    .details--mw {
        display: flex;
        flex-direction: column;
    }
    .stars-container--mw {
        margin-bottom: 1.25rem;
        gap: 0.417rem;
    }
    .star--mw {
        width: 0.833rem;
        height: 0.792rem;
    }
    .mw-title {
        font-size: 2.25rem;
        line-height: 2.5rem;

        margin: 0;
        margin-bottom: 0.625rem;
    }
    .summary--mw {
        margin-top: 0;

        font-size: 1rem;
        line-height: 1.25rem;
    }
}

/** TABLETS **/
@media screen and (min-width: 834px) {
    .login--container {
        background: url(../img/backgrounds/login_tablet.png);
    }
    .login-screen {
        max-width: 445px;
    }
    header {
        grid-template-columns: 2fr 11rem minmax(1fr, 24rem) 5.938rem 2fr;
        grid-template-areas: '. title search profile .';
    }
}

/** DESKTOP **/
@media screen and (min-width: 1140px) {
    .login--container {
        background: url(../img/backgrounds/login_desktop.png);
    }
}
