:root {
    font-family: 'Open Sans', sans-serif;
    --blue-color: #2791C2;
    --link-color: #29B9FC;

    --hover-btn: #4FC7FF;
    --visited-btn: #4FC7FF;
    --focus-btn-bg: #2791C2;
    --focus-btn-border: #82CAFF;

    --active-font--btn: #2791C2;
}

* { box-sizing: border-box; }
img, svg { max-width: 100%;  }
svg { max-height: 100%; }
p,a, h1 { margin: 0; }

.fw--400 { font-weight: 400; }
.text--bold { font-weight: 700; }
.text--boldest {font-weight: 900; }
.text--uppercased { text-transform: uppercase;}
.text--tiny { font-size: .75rem; }
.blue { color: var(--blue-color); }
.center { text-align: center; }
.cyan { color: #0FEFFD; }
.underline{ text-decoration: underline; }

.bigger-spaced { letter-spacing: 0.8px; }
.text--italic { 
    margin-left: 1px;
    font-style: italic; 
    font-weight: 400; 
    font-family: 'Montserrat', sans-serif;
}

a, button {
    cursor: pointer;
}

/* LOGIN SECTION */
a { 
    text-decoration: none; 
    color: var(--link-color);
}
button { 
    align-self: center;
    border-radius: 35px; 
    border: none;
    
    background-color: var(--link-color);
    color: #fff;
    
    height: 4.375rem;
    width: 100%;
    padding: 1rem .7rem;
    
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
}
button:hover {
    background-color: var(--hover-btn);
}
button:focus {
    background-color: var(--focus-btn-bg);
    border: var(--focus-btn-border) 2px solid;
}
button:visited {
    background-color: var(--visited-btn);
}
button:active {
    text-decoration: underline;
    color: var(--active-font--btn);
    background-color: #fff;
}
body {
    background-color: #1E1E1E;

    display: grid;
    justify-content: center;

    min-height: 100vh;
    max-width: 100vw;

    padding: 0;
    margin: 0;
}
main {
    max-width: 640px;
    margin: 0 auto;
}
form {
    width: 100%;
    margin:  1.1rem auto;
    display: grid;
    gap: .7rem;
}
input {
    border-radius: 5px;
    height: 2.875em;
    border: none;
    box-shadow: none;
    /* padding: .6rem .7rem; */
}
input::placeholder {
    color: #BCBCBC;
}
label {
    display: flex;
    align-items: center;
    color: #BCBCBC;
}

/* GENERAL */
.title {
    font-family: Montserrat, sans-serif;
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
}

/* START LOGIN */
.login--container { 
    display: flex;
    flex-direction: column;
    place-items: center;
    
    padding: 1.875rem 1.875rem 0 1.875rem;
    margin-bottom: 4.422rem;
    width: 100vw;
    min-height: 100vh;

    padding: 0;
    margin: 0;
    
    font-size: 1.5rem;
    text-align: center;

    background-image: url(../img/backgrounds/login_mobile.png);
    background-position: top;
    background-size: cover;
}
.title--login {
    margin-top: 4.125rem;
    margin-left: -1px;

    font-size: 2.625rem;
    line-height: 2rem;
    
    display: block;
}
.login-screen {
    display: grid;

    width: 36.25rem;
    
    padding: 3rem;
    padding-bottom: 0;
    margin-top: 3.938rem;       
    
    border-radius: .625rem; 
    color: #fff;
    background-color: rgba(49, 49, 49, 0.95);
    box-shadow: 0px 6px 6px rgba(11, 11, 11, 0.8);      
}
.welcome-prompt {
    text-align: center;
    line-height: 2.75rem;
    margin-bottom: 2.5rem;
} 
form {
    margin: 0;
    margin-bottom: 2.5rem;
    gap: 1.25rem;
}
.input--full-width {
    padding-left: 1.563rem;
    font-size: 1.5rem;
    height: 4.375rem;
    width: 100%;
}
.password--container {
    position: relative;
    display: flex;
}
.password-eye {
    width: 2.375rem;
    position: absolute;
    color: var(--blue-color);
    align-self: center;
    right: 0;
    margin-right: 1.125rem;
    /* TODO CHECK IF MARGIN-RIGHT AND RIGHT CAN BE SWAPPED */
}
.user-extras {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.input-checkbox {
    border-radius: 5px;
    width: 1.875rem;
    height: 1.875rem;
    margin: 0;
    margin-right: .5rem;
}
.register-prompt {
    text-align: center;
    font-size: 1.25rem;

    margin-top: 2px;
    margin-bottom: 1rem;
}
.separation {
    margin: .5rem 0;
    display: grid;
    place-items: center;
    grid-template-columns: 45% 1fr 45%;

    font-size: 1.25rem;
    
    margin-top: 1.49rem;
    width: 100%;
}
.prompt--or {
    margin-top: -0.313rem;
}
.divider {
    border: none;
    height: 1px;
    background-color: #fff; 

    width: 12.156rem;
}
.divider--left {
    justify-self: flex-start;
}
.divider--right {
    justify-self: flex-end;
}
.social-medias--container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    margin-top: 3.125rem;
    margin-bottom: 3.813rem;
}
.social-media-div {
    display: flex;
    place-items: center;
    /* gap: 2.5rem; */

    border: 1px solid #fff;
    border-radius: 35px;
    
    padding-left: 4.788rem;
    height: 4.375rem;
    
    justify-content: flex-start;
}
.social-media-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0;

    min-width: 13.8rem;
    margin: 0;
    margin-top: -.5rem;
    margin-left: -0.313rem;
}
.icon {
    margin: 0;
    padding: 0;
    width: 2.75rem;
    height: 2.75rem;

    margin-right: 1.563rem;
}
/* END LOGIN */
/* FIXED FROM HERE UP */


/* START HEADER */
header {
    grid-template-columns: 10.063rem 15.25rem 5.938rem;
    grid-template-areas: 'title search profile';
    place-items: center;
    line-height: 2rem;
    
    height: 5.625rem;
    padding-left: 2.5rem 1.375rem;

}
.header--title {
    margin-left: 6px;
    margin-top: 1px;
}
.search--container {
    height: 2.875rem;
    padding: 0;
    margin: 0;
    margin-left: 7px;

    position: relative;
    left: 0;
    top: 0;
}
.input--search {
    height: 100%;
    width: 100%;
    margin: 0;
    
    position: absolute;
    left: 0;
    top: 0;
}
.log {
    margin-left: -5px;
    margin-top: 2px;
}
/* START MOVIE RESULT CARD */
.movie {
    min-height: 53.125rem;
    min-width: 449px;
    padding: 9.5rem 5.563rem;

    font-size: 1.5rem;

    justify-content: flex-start;
}
.stars-and-genre {
    line-height: 60%;
    gap: 1.09rem;
}
.stars-container {
    gap: 0.732rem;
}
.movie-title {
    overflow: initial;
    overflow-wrap: initial;
    
    margin-top: 2.7rem;
    
    font-size: 3.5rem;
    line-height: 35%;
}
.summary {
    margin-top: 2.4rem;
    line-height: 2.375rem;
}
button {
    font-size: 1.5rem;
}
.watch-now {
    border-radius: 5.813rem;
    margin-top: 3.1rem;
    margin-left: 4px;
    height: 4.688rem;
    width: 28.188rem;
}
/* START MOST WATCHED */
.most-watched-container {
    padding: 3.625rem 5.938rem;
    gap: 3.5rem;
    background-color: #070707;

    overflow-wrap: initial;
    overflow: initial;
}
.title--mw {
    line-height: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
.most-watched-movies {
    display: grid;
    gap: 3.102rem;
}
.mw {
    display: flex;
    justify-content: flex-end;
    
    overflow-wrap: initial;
    overflow: initial;
    
    min-height: 38.586rem;
    padding: 3.5rem;
}
.details--mw {
    display: flex;
    flex-direction: column;
}
.stars-container--mw {
    margin-bottom: 1.25rem;
    gap: 0.417rem;
}
.star--mw {
    width: 0.833rem;
    height: 0.792rem;
}
.mw-title {
    font-size: 2.25rem;
    line-height: 2.5rem;

    margin: 0;
    margin-bottom: 0.625rem;
}
.summary--mw {
    margin-top: 0;

    font-size: 1rem;
    line-height: 1.25rem;
}
/* START INDIVIDUAL MOVIE DETAILS*/
.movie-dets {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0;

    padding-bottom: 4.938rem;

    background-color: #111111; 
    color: #fff;
}
.movie-header {
    min-height: 34.625rem;
    padding-left: 3.75rem;
    
    display: flex;
    flex-direction: column;
}
.close {
    align-self: flex-end;
    justify-self: flex-start;

    height: 4rem;
    width: 4rem;
    margin-top: 1.25rem;
    margin-right: 1.273rem;
}
.play-btn {
    border-radius: 2.813rem;
    margin-top: 18.9rem;
    width: 19.375rem;
    height: 5.063rem;
    
    align-self: flex-start;
}
.title--dets {
    margin-top: 1.875rem;
    padding-left: 5px;

    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 4rem;
}
.movie-body {
    font-family: 'Open Sans', sans-serif;
    
    padding: 0 3.75rem;
    color: #fff;

    /* display: flex;
    flex-direction: column; */
}
.extended {
    font-size: 1.5rem;
    line-height: 2.375rem;
}
.details--container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.details--column {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding-top: 3.7rem;
}
.details--individual {
    
    font-size: 1.5rem;
    line-height: 2rem;
}
.details--individual-extra-padding {
    padding-left: 3.3rem;
}
.details--info {
    margin-top: 1.9rem;
}
.genre-dets {
    display: inline-block;
}
.similar-container {
    margin-top: 3.5rem;
    padding: 0 3.75rem;

    display: flex;
    flex-direction: column;
}
.similar--movies {
    margin-top: 3.313rem;
    display: grid;
    gap: 2.119rem;
    grid-template-columns: repeat(auto-fit, minmax(15.19rem, 1fr));
}
.img-link {
    height: 15.191rem;
    width: 15.191rem;
    margin: 0;
    padding: 0;
}
.similar--title {
    font-size: 1.5rem;
}
.invisible-btn {
    background-color: #000;
    border-radius: 0.125rem;
    height: 15.191rem;
    width: 15.191rem;

    display: grid;
    place-items: center;
}
/* START TRAILER */
.trailer--modal, .trailer {
    display: grid;
    place-items: center;
}

/* NAV SECTION */
header {
    color: #fff;
    background-color: var(--blue-color);
    
    width: 100%;
    min-height: 5.625rem;
    padding: 1.5rem;
    
    display: grid;
    grid-template-areas: 'title profile' 'search search';
    place-items: center;
    gap: 1rem;
}
.header--title {
    font-size: 1.5rem;
    line-height: 2rem;
    grid-area: title;
}
.search--container {
    grid-area: search;
    display: flex;
    align-items: center;
    
    position: relative;

    width: 100%;
}
.input--search { 
    padding-left: 3rem; 
    width: 100%;
}
.search-icon {
    position: absolute;
    left: .75rem;

    width: 1.458rem;
    height: 1.458rem;
}
.profile-container {
    grid-area: profile;
    justify-self: end;

    max-width: 5.938rem;

    display: flex;
    align-items: center;
    gap: .5rem;
}
.profile-vector-container {
    display: grid;
    place-items: center;
    width: 2.813rem;
    height: 2.813rem;
    border-radius: 50%;
    background-color: #BCBCBC;
}

/* MOVIE SEARCH { RESULT } AND MOST WATCHED MOVIES  SECTION */

.results-container {
    width: 100%;
    margin: 0;
    
    display: flex;
    flex-direction: column;
}

/* movie card */
.movie { 
    color: #fff;
    font-size: 1rem;

    margin: 0;
    padding: 3.5rem 2rem;

    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
}
.movie-title {
    font-size: 2.5rem;
    overflow-wrap: break-word;
    overflow: scroll;
}

/* MOST WATCHED SECTION */
.most-watched-container {
    display: grid;
    gap: 1.5rem;

    padding: 1.5rem;
    width: 100%;

    color: #fff;
    overflow-wrap: break-word;
    overflow: scroll;
}
.mw {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    
    min-height: 70vh;
    
    overflow-wrap: break-word;
    overflow: scroll;
    font-size: 1rem;
}
.mw-title {
    font-size: 2rem;
}
.movie-details {
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: end;

    width: 100%;
    height: 100%;
    padding: 3.5rem;
}
.stars-and-genre {
    display: flex;
    flex-direction: column;    
}
.stars-container {
    /* color: #FF9900; */ 
    margin: 0;

    display: flex;
    align-items: center;
}
.star {
    height: 1.391rem;
    width: 1.464rem;
}


/* MEDIA QUERIES */

/** HEADER BREAKPOINT **/
/* 
    @media screen and (min-width: 465px) {
        header {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .search--container {
            width: 15.25rem;
        }
        .profile-container {
            min-width: 5.938rem;
        }
    } 
*/

/** TABLETS **/
@media screen and (min-width: 834px) {
    /* START LOGIN */
    .login--container {
        background: url(../img/backgrounds/login_tablet.png);
        
        display: grid;
        place-items: center;
        gap: 0;
        
        min-width: 100vw;
        min-height: 100vh;
        padding: 16.75rem 12.125rem;
        margin: 0;
    }
    .title--login {
        font-size: 2.25rem;
        margin: 0;
        margin-left: -4px;
    }
    .login-screen {
        width: 27.813rem;
        padding: 2rem 2.75rem 2rem 2.813rem;
        margin-top: 3.5rem;
    }
    .welcome-prompt {
        font-size: 1rem;
        line-height: 1.313rem;
        text-align: center;
        margin-bottom: 0;
    }
    .instructions {
        margin-top: .25rem;
        font-size: 0.625rem;
        /* line-height: 1.313rem; */
    }
    form {
        margin: 0;
        margin-top: 0.328rem;
        gap: 0.5rem;
    }
    .input--full-width {
        padding-left: 1.563rem;
        font-size: 0.813rem;
        height: 2.813rem;
        width: 22.194rem;
    }
    .password--container {
        width: 22.194rem;
    }
    .password-eye {
        width: 1.125rem;
        margin-right: 0;
        right: 1rem;
    }
    .user-extras {
        width: 22.194rem;
        padding: 0 1.188rem 0 .937rem;
        font-size: 0.625rem;
        margin-top: .3rem;
        margin-bottom: 0;
    }
    .input-checkbox {
        width: 1.125rem;
        height: 1.125rem;

        border-radius: .188rem;

        margin-left: .033rem;
    }
    .login-btn {
        background-color: #2791C2;
        
        font-size: 0.938rem;

        padding: 0;
        width: 22.125rem;
        height: 2.938rem;
        margin-top: .2rem;
    }
    .register-prompt {
        margin: 0;
        margin-top: .625rem;

        line-height: 2rem;
        font-size: .625rem;
    }
    .separation {
        margin-top: 0;

        grid-template-columns: 8.883rem 1fr 8.883rem;
        gap: 1.781rem;

        line-height: 2rem;
        font-size: .813rem;
    }
    .divider {
        width: 100%;
    }
    .social-medias--container {
        gap: .625rem;
        margin: 0;
        margin-top: 1.688rem;
    }
    .social-media-div {
        width: 22.375rem;
        height: 2.813rem;
        justify-content: flex-start;
    }
    .social-media-container {
        font-size: .875rem;
        margin: 0;

        gap: 0;
        align-content: center;
    }
    .icon {
        width: 1.75rem;
        height: 1.813rem;
        margin-right: 1.063rem;
    }
    /*
    .separation {
        font-size: 1.25rem;
        
        margin-top: 1.49rem;
        margin-bottom: 3.3rem;
        width: 100%;
    }
    .prompt--or {
        margin-top: -5px;
    }
    .divider {
        width: 12.156rem;
    }
    .divider--left {
        justify-self: flex-start;
    }
    .divider--right {
        justify-self: flex-end;
    }
    .social-media-div {
        margin-bottom: 2.5rem;
        padding-left: 4.688rem;
        justify-content: flex-start;
    }
    .social-media-container {
        margin-left: -2px;
        gap: 0;
    }
    .social-media--last {
        margin-bottom: 3.813rem;
    }
    .icon {
        margin: 0;
        padding: 0;
        width: 2.75rem;
        height: 2.75rem;

        margin-right: 1.563rem;
    }
    */
}

/** DESKTOP **/
@media screen and (min-width: 1140px) {
    .login--container {
        background: url(../img/backgrounds/login_desktop.png);
    }
}

/*
div {
  transition: <property> <duration> <timing-function> <delay>;
}
*/