:root {
    --blue-color: #2791C2;
    --link-color: #29B9FC;
    --hover-btn: #4FC7FF;
    --visited-btn: #4FC7FF;
    --focus-btn-border: #82CAFF;
    --active-font--btn: #2791C2;
}

* { box-sizing: border-box; }
img { max-width: 100%;  }
/* svg { height: 100%; width: 100%; } */
p, a, h1 { margin: 0; }
a, button { cursor: pointer; }
html {
    font-family: 'Open Sans', sans-serif;
}

.master-container {
    width: 100vw;
}

/*  GENERAL */

.bold { font-weight: 700; }
.extra-bold { font-weight: 900; }
.italic { font-style: italic; }
.uppercased { text-transform: uppercase; }
.title {
    font-family: Montserrat, sans-serif;
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
}
.cyan { color: #0FEFFD; }
.blue { color: var(--blue-color); }

/* END GENERAL */

/* TAGS */
body, html {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

button { 
    align-self: center;
    border-radius: 35px; 
    border: none;
    
    background-color: var(--link-color);
    color: #fff;
    
    height: 4.375rem;
    width: 100%;
    padding: 1rem .7rem;
    
    font-weight: 700;
    /* font-size: 1.1rem; */
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
}
button:hover {
    background-color: var(--hover-btn);
}
button:focus {
    background-color: var(--blue-color);
    border: var(--focus-btn-border) 2px solid;
}
button:visited {
    background-color: var(--visited-btn);
}
button:active {
    text-decoration: underline;
    color: var(--active-font--btn);
    background-color: #fff;
}
a { 
    text-decoration: none; 
    color: var(--link-color);
}
input{
    cursor: pointer;
}
/* TODO -> ADD FOCUS AND HOVER STATE TO <a> */

/* END TAGS */

/* START Login Section */
.login--container {
    background-image: url(../img/backgrounds/login_desktop.png);
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 4.125rem 1.875rem 3.75rem;
}
.login--title {
    font-size: 2.625rem;
    line-height: 2rem;
}
.login--screen {
    font-size: 1.5rem;
    display: grid;
    
    width: 100%;
    padding: 3.125rem 3rem;
    margin-top: 4rem;
    
    border-radius: .625rem; 
    color: #fff;
    background-color: rgba(49, 49, 49, 0.95);
    box-shadow: 0px 6px 6px rgba(11, 11, 11, 0.8);   
}
.welcome-prompt {
    text-align: center;
    line-height: 2.75rem;
    margin-bottom: 1.25rem;
}
.login--form {
    display: grid;
    width: 100%;
    gap: 1.125rem;
}
.login--input {
    font-size: inherit;
    padding-left: 1.563rem;
    width: 100%;
    height: 4.375rem;
    border-radius: 0.313rem;
}
.password--container {
    position: relative;
    display: flex;
    align-items: center;
}
.password-eye {
    position: absolute;
    right: 1.25rem;
}
.login-error-msg {
    color: red;
    font-size: 1.2rem;
    font-weight: bolder;
}
.user-extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}
.checkbox-container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
}
input.hide-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.custom-checkbox { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;  
    top: 0;  
    left: 0;
    border-radius: .375rem;
    height: 1.875rem;
    width: 1.875rem;
    margin-right: 2rem;
    background-color: #fff;
} 
.custom-checkmark {
    position: absolute;  
    width: 1.1rem;
    height: 1.3rem;
}
input:checked + .custom-checkbox  {
    background-color: var(--blue-color);
}
.register-prompt {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
}
.social-login--container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.social-media-container {
    border: .125rem solid #FFFFFF;
    border-radius: 2.188rem;
    padding: .813rem 4.688rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.563rem;
    margin: 0 auto;
}
.social-media--icon {
    width: 2.75rem;
}
.separation {
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 46.5% 7% 46.5%;
    align-items: center;
    justify-items: center;
    padding: 2rem 0;
}
.divider {
    height: .06rem;
    width: 80%;
    background-color: #fff;
}
.divider--left {
    justify-self: left;
}
.divider--right {
    justify-self: right;
}

/* END Login Section */

/* START Similar Movies Section */

.similar-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat( auto-fit, 15rem );
    gap: 2rem;
}
.recommended-square {
    object-fit: cover;
    width: 15rem;
    height: 15rem;
}

/* END Similar Movies Section */