:root {
    --blue-color: #2791C2;
    --link-color: #29B9FC;
    --hover-btn: #4FC7FF;
    --visited-btn: #4FC7FF;
    --focus-btn-border: #82CAFF;
    --active-font--btn: #2791C2;
    --light-gray: #BCBCBC;
    --star-color: #FF9900;
    --dark-background: #1E1E1E;
}

* { box-sizing: border-box; }
img { max-width: 100%;  }
/* svg { height: 100%; width: 100%; } */
p, a, h1 { margin: 0; }
a, button { cursor: pointer; }
html {
    font-family: 'Open Sans', sans-serif;
}

.master-container {
    width: 100vw;
    position: relative;
}
.results {
    position: relative;
}

/*  GENERAL */

.bold { font-weight: 700; }
.extra-bold { font-weight: 900; }
.italic { font-style: italic; }
.uppercased { text-transform: uppercase; }
.title {
    font-family: Montserrat, sans-serif;
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
}
.cyan { color: #0FEFFD; }
.blue { color: var(--blue-color); }

/* END GENERAL */

/* TAGS */
body, html {
    margin: 0;
    padding: 0;
    background-color: var(--dark-background);
}

button { 
    align-self: center;
    border-radius: 2.188rem; 
    border: none;
    
    background-color: var(--link-color);
    color: #fff;
    
    height: 4.375rem;
    width: 100%;
    padding: 1rem .7rem;
    
    font-weight: 700;
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;
}
button:hover {
    background-color: var(--hover-btn);
}
button:focus {
    background-color: var(--blue-color);
    border: var(--focus-btn-border) .13rem solid;
}
button:visited {
    background-color: var(--visited-btn);
}
button:active {
    text-decoration: underline;
    color: var(--active-font--btn);
    background-color: #fff;
}
a { 
    text-decoration: none; 
    color: var(--link-color);
}
/* TODO -> ADD FOCUS AND HOVER STATE TO <a> */
input[type=text]{
    border: none;
    cursor: pointer;
    border-radius: .188rem;
}

/* END TAGS */

/* START Login Section */
.login--container {
    background-image: url(../img/backgrounds/login_desktop.png);
    background-size: cover;
    background-position: center;
    
    min-height: 100vh;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 4.125rem 1.875rem 3.75rem;
}
.login--title {
    font-size: 2.625rem;
    line-height: 2rem;
}
.login--screen {
    font-size: 1.5rem;
    display: grid;
    
    width: 100%;
    padding: 3.125rem 3rem;
    margin-top: 4rem;
    
    border-radius: .625rem; 
    color: #fff;
    background-color: rgba(49, 49, 49, 0.95);
    box-shadow: 0px 6px 6px rgba(11, 11, 11, 0.8);   
}
.welcome-prompt {
    text-align: center;
    line-height: 2.75rem;
    margin-bottom: 1.25rem;
}
.login--form {
    display: grid;
    width: 100%;
    gap: 1.125rem;
}
.login--input {
    font-size: inherit;
    padding-left: 1.563rem;
    width: 100%;
    height: 4.375rem;
    border-radius: 0.313rem;
}
.password--container {
    position: relative;
    display: flex;
    align-items: center;
}
.password-eye {
    position: absolute;
    right: 1.25rem;
}
.login-error-msg {
    color: red;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}
.user-extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}
.checkbox-container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
}
input.hide-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.custom-checkbox { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;  
    top: 0;  
    left: 0;
    border-radius: .375rem;
    height: 1.875rem;
    width: 1.875rem;
    margin-right: 2rem;
    background-color: #fff;
} 
.custom-checkmark {
    position: absolute;  
    width: 1.1rem;
    height: 1.3rem;
}
input:checked + .custom-checkbox  {
    background-color: var(--blue-color);
}
.register-prompt {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 1.25rem;
}
.social-login--container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.social-media-container {
    border: .125rem solid #FFFFFF;
    border-radius: 2.188rem;
    padding: .813rem 4.688rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.563rem;
    margin: 0 auto;
}
.social-media--icon {
    width: 2.75rem;
}
.separation {
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 46.5% 7% 46.5%;
    align-items: center;
    justify-items: center;
    padding: 2rem 0;
}
.divider {
    height: .06rem;
    width: 80%;
    background-color: #fff;
}
.divider--left {
    justify-self: left;
}
.divider--right {
    justify-self: right;
}
/* END Login Section */

/* START HEADER */
header {  
    color: #fff;
    background-color: var(--blue-color);
    
    display: grid;
    grid-template-columns: 10.063rem 15.25rem 5.94rem;
    grid-template-areas: 'title search profile';
    align-items: center;
    justify-content: space-evenly;
    line-height: 2rem;
    
    height: 5.625rem;
    width: 100%;
    padding-left: .738rem;
    padding-right: .625rem;
}
.header--title {
    grid-area: title;

    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.search--container {
    grid-area: search;
    
    display: flex;
    align-items: center;
        
    width: 100%;
    height: 2.875rem;
    padding: 0;
    margin: 0;
    margin-left: 0rem;

    position: relative;
    left: 0;
    top: 0;
}
.input--search {
    padding-left: 3rem; 
    height: 100%;
    width: 100%;
    margin: 0;
    
    position: absolute;
    left: .438rem;
    top: 0;
    font-size: .813rem;
}
.input--search::placeholder {
    color: #BCBCBC;
}
.search-icon {
    position: absolute;
    left: .75rem;

    margin-left: .5rem;
    width: 1.458rem;
    height: 1.458rem;
}
.profile-container {
    grid-area: profile;
    justify-self: end;

    width: 5.938rem;

    display: flex;
    align-items: center;
}
.log {
    margin-right: .3rem;
    margin-top: .125rem;

    width: fit-content;
}
.profile-vector-container {
    display: grid;
    place-items: center;
    
    width: 2.813rem;
    height: 2.813rem;
    margin-right: .15rem;

    border-radius: 50%;
    background-color: #BCBCBC;
}
/* END HEADER */

/* START Dropdown Section */
.dropdown-container {
    position: absolute;
    left: 5%;

    width: 90%;
    padding: 1.5rem 2rem;

    display: none;
    flex-direction: column;

    color: var(--blue-color);
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
}
.dropdown-result {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 1rem;
    height: 7rem;
}
.dropdown-result--img {
    height: 95%;
} 
/* END Dropdown Section */

/* START Most Watched Section */
.results-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.display-type {
    display: none;
}

.movie {
    width: 100%;
    min-height: 53.125rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: #fff;
    padding: 9.5rem 5.563rem;
}
.stars-and-genre {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.stars-container {
    display: flex;
    gap: .732rem;
}
.movie-title {
    font-size: 3.5rem;
}
.summary {
    margin-top: 1rem;
    text-align: justify;
}
.watch-now-btn {
    margin-top: 3.125rem;
}

.most-watched-container {
    width: 100%;
    padding: 3.125rem 6rem;
    color: #fff;
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
}
.most-watched--section-title {
    font-size: 2rem;
}
.most-watched--movie {
    height: 38.586rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem 3.5rem;
}
.most-watched--title {
    font-size: 2.25rem;
}
.most-watched--stars-container {
    margin-top: .625rem;
    margin-bottom: 1.25rem;
    display: flex;
    gap: .417rem;
}
.star {
    width: .792rem;
    height: .833rem;
}
.filled {
    fill: var(--star-color);
}
.most-watched--summary {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.25rem;
}
/* END Most Watched Section */

/* START Modal Section */
.modal-container {
    display: none;
    justify-content: center;

    position: absolute;
    top: -5.625rem;
    left: 0;

    width: 100vw;
    min-height: 100vh;

    color: #fff;
    background-color: var(--dark-background);
}
.modal {
    display: flex;
    flex-direction: column;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    /* padding: 2.139rem 2.163rem 4.938rem 3.75rem; */
}

.modal--header {
    position: relative;
    height: 34.625rem;
    padding-left: 3.75rem;
    padding-right: 4.875rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1.875rem;
}
.modal--title {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
}
.close {
    position: absolute;
    top: 2.139rem;
    right: 2.163rem;
}
.play-btn {
    width: 19.375rem;
    align-self: flex-start;
    font-size: 1.5rem;
    line-height: 1.25rem;
}

.modal--body {
    padding: 1.875rem 4.375rem 1.875rem 3.75rem;
}
.modal--summary {
    font-size: 1.5rem;
    line-height: 2.375rem;
}

.modal-info--container {
    padding-top: 3.125rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.modal-details--container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-details--row {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
.details--info {
    margin-top: 1.9rem;
}
.genre-dets {
    display: inline-block;
}

.similar-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat( auto-fit, 14.5rem );
    gap: 2rem;
}
.similar-container--title {
    margin-top: 6.25rem;
    margin-bottom: 5.063rem;
    font-size: 1.5rem;
    align-self: flex-start;
} 
.recommended-square {
    object-fit: cover;
    width: 14.5rem;
    height: 14.5rem;
}
/* END Modal Section */

@media screen and (min-width: 834px) {
    .most-watched-container {
        padding: 2.125rem 3.625rem 6.938rem 3.625rem;
    }
    .most-watched--title-and-display {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .display-type {
        display: flex;
    }
    .svg-btn {
        background-color: transparent;
        padding: .375rem .438rem ;
    }
    .selected {
        background-color: var(--light-gray);
    }
}